---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import TextInput from "@components/TextInput.astro";
import TextArea from "@components/TextArea.astro";
import Button from "@components/Button.astro";
---

<Layout
  title="OTG Solutions AS | Kontakt oss"
  description="Kontakt oss for en uforpliktende samtale."
>
  <Header />
  <main>
    <form class="form-grid" action="/api/send-email" method="POST">
      <TextArea id="msg" label="Melding *" type="text" required />
      <div class="inputs-wrapper">
        <TextInput
          id="email"
          label="Din e-postadresse *"
          type="email"
          required
        />
        <TextInput id="phone" label="Ditt mobilnummer *" type="tel" required />
        <TextInput id="name" label="Navn" />
      </div>
      <div class="submit-button-wrapper">
        <Button>Send</Button>
      </div>
    </form>
  </main>
  <Footer />
</Layout>

<style>
  .inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .form-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  @media screen and (min-width: 636px) {
    .form-grid {
      grid-template-columns: 1fr 1fr;
    }
    .submit-button-wrapper {
      grid-column: span 2;
      text-align: right;
    }
  }
</style>
