---
import Layout from "@layouts/Layout.astro";
import InformationBox from "@components/InformationBox.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<Layout
  title="OTG Solutions AS | Om oss"
  description="Vi spesialiserer oss på rådgivning, teknologitjenester og digital transformasjon."
>
  <Header />
  <main>
    <InformationBox>
      <p>
        Vi er eksperter innen teknologitjenester og digital transformasjon. Vårt
        mål er å hjelpe bedrifter med å anvende teknologiens fulle potensial for
        å strømlinjeforme driften, maksimere inntektene og få et forsprang på
        konkurransen.
      </p>
      <p>
        Uavhengig av om du behøver bistand innen strategiutforming,
        teknologiimplementering eller løpende støtte, har vi den nødvendige
        kompetansen og erfaringen for å hjelpe deg med å oppnå dine mål. La oss
        være drivkraften som beveger virksomheten din fremover ved hjelp av vårt
        brede spekter av tjenester.
      </p>
    </InformationBox>
  </main>
  <Footer />
</Layout>

<style></style>
