---
import Layout from "@layouts/Layout.astro";
import InformationBox from "@components/InformationBox.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<Layout
  title="OTG Solutions AS | Om oss"
  description="Vårt firma spesialiserer seg på rådgivning, teknologitjenester og digital transformasjon."
>
  <Header />
  <main>
    <InformationBox>
      <p>
        Vårt firma spesialiserer seg på rådgivning, teknologitjenester og
        digital transformasjon. Vi hjelper bedrifter med å utnytte teknologiens
        kraft for å effektivisere driften, øke effektiviteten og ligge i forkant
        av konkurrentene.
      </p>
      <p>
        Enten du trenger hjelp med strategi, implementering eller løpende
        støtte, har vi ekspertisen og erfaringen til å hjelpe deg med å nå dine
        mål. La oss hjelpe deg å drive virksomheten din fremover med vårt
        omfattende utvalg av tjenester.
      </p>
    </InformationBox>
  </main>
  <Footer />
</Layout>

<style></style>
