---
import Layout from "@layouts/Layout.astro";
import InformationBox from "@components/InformationBox.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<Layout title="OTG Solutions AS | Takk!" norobots>
  <Header />
  <main>
    <InformationBox>
      <span class="text-gradient">Takk!</span> Vi tar kontakt ved første anledning.
    </InformationBox>
  </main>
  <Footer />
</Layout>

<style></style>
