---
---

<button class="link-card">
  <p class="button-p">
    <slot />
  </p>
</button>

<style>
  button {
    border: var(--border-primary);
    border-radius: var(--border-radius);
    background-color: white;
    padding: 0.5rem 2.5rem;
    cursor: pointer;
    background-image: var(--accent-gradient);
    background-size: 400%;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  button:is(:hover, :focus-within) {
    background-position: 25%;
  }
  button:is(:hover, :focus-within) p {
    color: white;
  }
</style>
