---
---

<footer>
  <a href="mailto:post@otg-solutions.no" class="text-gradient"
    >post@otg-solutions.no</a
  >
  <p>Organisasjonsnummer: 924 974 168</p>
</footer>

<style>
  a {
    text-decoration: none;
    font-weight: 800;
  }
</style>
