---
import Link from '@/components/Link.astro';
import Container from '@/components/Container.astro';
---

<footer class="bg-slate-50">
  <Container>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div>
        <p class="text-lg font-semibold mb-4">OTG Solutions AS</p>
        <p>Org. nr: 924974168</p>
      </div>
      <div>
        <p class="text-lg font-semibold mb-4">Kontakt</p>
        <a href="mailto:post@otg-solutions.no" class="hover:underline">post@otg-solutions.no</a>
      </div>
      <div>
        <p class="text-lg font-semibold mb-4">Følg Oss</p>
        <Link href="https://www.linkedin.com/company/otg-solutions-as/" ariaLabel="Lenke til OTG Solutions AS på LinkedIn">LinkedIn</Link>
      </div>
    </div>
    <div class="mt-8 py-8 text-center">
      <p class="text-gray-600">
        © {new Date().getFullYear()} OTG Solutions AS
      </p>
    </div>
  </Container>
</footer>
