---
---

<header>
  <h1 class="title">
    <a href="/"><span class="text-gradient">OTG</span></a> Solutions
  </h1>
  <p class="subheader">Utvikling av IT systemer & Konsulenttjenester.</p>
</header>

<style>
  a {
    text-decoration: none;
  }
  .subheader {
    font-size: 1rem;
    font-weight: light;
  }
</style>
