---
export interface Props {
  children: any;
}
---

<section class="information">
  <slot />
</section>

<style>
  section {
    margin-bottom: 2rem;
  }

  .information {
    line-height: 1.6rem;
    border: var(--border-primary);
    background-color: white;
    padding: 1rem;
    border-radius: var(--border-radius);
  }
</style>
