---
const { id, label } = Astro.props;
---

<fieldset>
  <label for={id}>{label}</label>
  <textarea {...Astro.props} id={id} name={id}></textarea>
</fieldset>

<style>
  fieldset {
    padding: 0;
    margin: 0;
    border: unset;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 50ch;
  }
  textarea {
    font-family: system-ui, sans-serif;
    font-size: 1.1rem;
    border: var(--border-primary);
    border-radius: var(--border-radius);
    padding: 1rem;
    flex-grow: 1;
    resize: none;
  }
</style>
